@import "tailwindcss";
@import "@nuxt/ui";
@theme {
    --color-primary: oklch(60% 0.118 184.704);
    --color-primary-50: oklch(60% 0.118 184.704);   
    --color-primary-100: oklch(60% 0.118 184.704);  
    --color-primary-200: oklch(60% 0.118 184.704);
    --color-primary-300: oklch(60% 0.118 184.704);
    --color-primary-400: oklch(60% 0.118 184.704);
    --color-primary-500: oklch(60% 0.118 184.704);  
    --color-primary-600: oklch(60% 0.118 184.704);
    --color-primary-700: oklch(60% 0.118 184.704);
    --color-primary-800: oklch(60% 0.118 184.704);
    --color-primary-900: oklch(60% 0.118 184.704);  
    --color-primary-950: oklch(60% 0.118 184.704);  
  }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-white dark:bg-gray-900;
  }
  html {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
  }
  .nav-link {
    @apply text-sm font-medium text-gray-600  hover:text-primary transition-colors;
  }
  .icon-btn {
    @apply p-2 rounded-full hover:bg-gray-100  text-gray-600 ;
  }
  .btn-primary {
    @apply bg-primary text-white text-sm font-bold px-4 py-2 rounded-lg hover:bg-primary/90 transition-colors;
  } 
  .input {
    @apply mt-1 block w-full p-2 rounded-md border-gray-300  shadow-sm focus:border-primary focus:ring-primary sm:text-sm bg-gray-50 text-gray-900;
  }
  .bg-background-light {
    @apply bg-white/80 ;
  }
  .bg-background-dark {
    @apply bg-gray-900/80 ;
  }
  .input_doctors {
    @apply w-full border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary py-2 px-3 transition;
  }

  .full-center {
    @apply flex items-center justify-center;
  }
    
  html {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
  }
  
  
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  .fade-in {
    animation: fadeIn 0.6s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .bg-primary {
    background-color: #226d63;
}

.text-primary {
    color: #226d63;
}